body {
  font-size: 10px;
  background: url(http://i.imgur.com/IRlRXmY.jpg) bottom center;
  background-size: cover;
}
.page-header {
  background-color: #4C678C;
  text-align: center;
}
.col-sm-4 {
  text-align: center;
  padding:
}
