.page-header {
  background-color: #4C678C;
}
.list-group {
  width: 25%;

}
.list-group-item:first-child {
  background-image: url("meseeks.jpg");
  background-size: contain;
}
.list-group-item:nth-child(2) {
  background-image: url("cromulon.jpeg");
  background-size: contain;
}
.list-group-item:nth-child(3) {
  background-image: url("Terry.png");
  background-size: contain;
}
.list-group-item:nth-child(4) {
  background-image: url("cromulon.jpeg");
  background-size: contain;
}
.list-group-item:nth-child(5) {
  background-image: url("Schwifty.jpeg");
  background-size: contain;
}
.list-group-item:nth-child(6) {
  background-image: url("Morty.jpeg");
  background-size: contain;
}
.list-group-item:nth-child(7) {
  background-image: url("BirdPerson.jpeg");
  background-size: contain;
}

.TopRow, .BottomRow {
  display: flex;
  align-items: center;
}
.meseeks, .Terry, .cromulon, .morty {
  margin-left: 20px;
  margin-right: 20px;
}
